.tiny-content-preview {
  font-size: 7px !important;
  line-height: 10px !important;
  /* letter-spacing: -0.5px; */
}

.tiny-content-preview * {
  font-size: 8px !important;
  line-height: 10px !important;
  margin: 1px !important;
  padding: 1px !important;
  border: none !important;
}

.tiny-content-preview p,
.tiny-content-preview h1,
.tiny-content-preview h2,
.tiny-content-preview h3,
.tiny-content-preview h4,
.tiny-content-preview h5,
.tiny-content-preview h6,
.tiny-content-preview li,
.tiny-content-preview blockquote,
.tiny-content-preview span,
.tiny-content-preview div {
  font-size: 7px !important;
  line-height: 10.5px !important;
  margin: 1.5px !important;
  padding: 1.5px !important;
  word-break: break-all !important;
  /* letter-spacing: -0.5px !important; */
}

.tiny-content-preview .ProseMirror {
  font-size: 8px !important;
  line-height: 10px !important;
}

.tiny-content-preview .tiptap {
  font-size: 8px !important;
  line-height: 10px !important;
}
